.body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 400px;
    height: auto;
    background-color: rgba(235, 235, 232, 0.904);
    border-radius: 3px;
    margin: 50px;
    margin-bottom: 3px;
    padding: 15px;
    box-shadow: 0 5px 5px black;
    box-shadow: 0 15px 10px black;

}

.input-tarea {
    width: 97%;
    padding: 10px;
    margin: 5px;


}

.lista {
    position: relative;
    padding-bottom: 3px;
    align-items: flex-start;
    padding-left: 0px;



}

.lista-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    border-color: black;

}



.delete {

    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.lista-item:hover .delete {
    opacity: 1;
}

.pie {
    padding: 10px 20px;
    text-align: left;
}